.icon_plus_base::after{
    color: #444;
    background: none;
    width: 39px;
    height: 39px;
    text-align: center;
    line-height: 45px;
    position: absolute;
    right: 18px;
    font-weight: bold;
    font-size: 45px;
}
